*::after, *::before, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    width: 100vw;
    height: 100vh;
}

#calculator-flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#calculator-flex-container > * {
    width: 300px;
}

#body-grid {
    height: 250px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 15px;
    padding: 7px;
    background-color: #ccc;
}

#plus,
#minus,
#multiply,
#equal{
    grid-column-start: 4;
}

#divide,
#clear,
#equal{
    grid-row-start: 4;
}


#plus{
    grid-row-start: 1;
}

#minus{
    grid-row-start: 2;
}

#multiply{
    grid-row-start: 3;
}

#divide{
    grid-column-start: 3;
}

#clear{
    grid-column-start: 2;
}

#header{
    background-color: black;
    color: white;
    height: 50px;
}
#header > *{
    text-align: right;
    padding: 2px 4px 2px 4px;
}

#working-tree {
    font-size: 16px;
}

#result {
    font-size: 24px;
}

button{
    font-weight: bolder;
    border: none;
}

button:hover{
    border-style: inset;
}

.operator{
    background-color: orangered;
}
