* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    height: 250px;
    width: 200px;
    margin: auto;
    border-radius: 12px;
}

#display {
    background-color: black;
    color: white;
    padding: 3px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

#display > * {
    text-align: end;
    padding-right: 5px;
}

#working-tree {
    font-size: 12px;
}

#result {
    font-size: 24px;
}

#selections {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 4px;
}

.rows {
    display: flex;
    gap: 3px;
    flex: 1;
}

.button {
    flex: 1;
    font-size: 16px;
    /* border-radius: 25px; */
    border: none;
}

#multiply,
#subtract,
#divide,
#add {
    background-color: orangered;
}