* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    height: auto;
    min-width: 200px;
    margin: auto;
}

#display {
    background-color: black;
    color: white;
    padding: 3px;
}

#display > * {
    text-align: end;
    padding-right: 5px;
}

#workingtree {
    font-size: 14px;
}

#result {
    font-size: 24px;
}

#selections {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 4px;
}

.rows {
    display: flex;
    gap: 3px;
    flex: 1;
}

.button {
    flex: 1;
    font-size: 16px;
    border-radius: 25px;
}

#multiply,
#subtract,
#divide,
#add {
    background-color: orangered;
}
#equals {
    background-color: aliceblue;
}